<h1>Car List</h1>
<form action="/car/create" method="post">

  <label for="car-brand">Enter the car brand:</label>
  <input id="car-brand" name="car-brand" type="text">

  <label for="car-model">Enter the car model:</label>
  <input id="car-model" name="car-model" type="text">

  <label for="car-price">Enter the car price:</label>
  <input id="car-price" name="car-price" type="number">

  <label for="car-mileage">Enter the car mileage:</label>
  <input id="car-mileage" name="car-mileage" type="number">

  <button type="submit">Submit</button>

</form>
